.notification-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  background-color: #4d66ec;
  border-radius: 8px;
}
