.subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.subscribe__decription {
  font-size: 14px;
  line-height: 1.5;
}

.subscribe__email {
  padding: 14px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #e0e2ec;
  box-sizing: border-box;
}

.subscribe__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url("../../img/send-plane.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
